/**
 * Theme Name: InnSF
 * Author: Andrew Stone
 * License: GNU General Public License
 * License URI: license.txt
 * Tags: black
 */

div#load_screen{
	background: #475c22;
	opacity: 1;
	position: fixed;
    z-index:9999999;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
  color: #FFF;
  width: 180px;
  height: 100px;
  padding-top: 100px;
  text-align: center;
  margin: 250px auto;
  background: url(images/MARIN_LOGO.png);
  background-size: auto;
  background-position: top;
}

html {
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 80%!important
}

p {
    font-size: 100%!important
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

#wpadminbar {
    display: none
}

#sidebar {
    background-color: #F8EFB9;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 20%;
    box-shadow: 0 0 5px -2px #000;
}

 #sidebar h3 {
     font-size: 42px;
     line-height: 46px;
 }

#top .container .hide-text {
    display: none
}

.page-section {
	background-size: cover;
	background-position: center;
}

.page-section,
#blog,
#top {
    width: 100%
}

#sidebar-logo {
    background-image: url(images/MARIN_LOGO.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 101px;
    margin: 29px auto 0px;
    text-align: inherit;
    max-width: 180px;
    display: block;
}

#sidebar {
    color: #3A3A3C
}

.custom-header-option {
    display: none
}

.bx-wrapper .bx-viewport {
    background: transparent!important;
    border: 0!important;
    box-shadow: none!important;
    overflow:visible!important;
}


.bxslider-sidebar li > div
{
position: relative;
padding: 8px;
background: #3C4D1D;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
top:15px;
padding-bottom: 20px;
box-shadow: 0px 2px 10px -5px;
}

.bxslider-sidebar li > div:before 
{
  content: '';
  position: relative;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #3C4D1D transparent;
  display: block;
  width: 0;
  z-index: 1;
  /* top: -15px; */
  /* left: 68px; */
  bottom: 23px;
  margin: 0 auto;
}


.bxslider-sidebar {
    margin-bottom: 30px
}

.container .bx-wrapper .bx-viewport {
    min-height: 1000px
}

#bx-pager-1,
#bx-pager-2,
#bx-pager-3 {
    text-align: center
}

 #bx-pager-1 a,
 #bx-pager-2 a,
 #bx-pager-3 a {
     margin: 0 10px
 }

 #bx-pager-1 a.active img,
 #bx-pager-2 a.active img,
 #bx-pager-3 a.active img {
     border: 2px solid #000
 }

 #bx-pager-1 a img,
 #bx-pager-2 a img,
 #bx-pager-3 a img {
     border: 2px solid transparent
 }

 #bx-pager-1 a,
 #bx-pager-2 a,
 #bx-pager-3 a {
     margin: 8px 0 0 10px
 }

.bx-wrapper {
    margin: 0 auto 20px!important
}

.bxslider-sidebar li {
    font-size: 14px!important;
    line-height: 18px!important;
    margin: 0 10px!important;
    width: calc(100% - 20px)!important;
    text-align: center!important;
}

.topBar h1.hide-text {
    background: url(http://placehold.it/150x30)!important;
    height: 30px!important;
    width: 150px!important;
}

h2.gone {
    display: none
}

.cat-item-4,
.cat-item-3 {
    display: none
}

.meta li.user,
.meta li.comments {
    display: none
}

.container > .heading {
    display: none
}

.bxslider-sidebar li {
    overflow: visible;
    margin-bottom: 30px!important;
}

#bx-pager-1,
#bx-pager-2,
#bx-pager-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #BF6228;
    right: 0;
    z-index: 99;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #303030;
    right: 0;
    color: #999;
    padding: 15px 15px 0!important;
    text-align: center;
    font-size: 12px;
  line-height: 18px;
}

 #footer .fl {
     width: 100%
 }

#rooms,
#cities,
#news,
#contact {
    padding-top: 30px!important
}

/* .bxslider-1 > li, .bxslider-2 > li, .bxslider-3 > li {
margin-right: 0px;
padding: 30px 30px 0;
}
   ================================================== */

/*#fullPage-nav li .active span, .fullPage-horzsNav .active span {
	background:#acb270 !important;
}*/

#fullPage-nav span, .fullPage-horzsNav span {
	  width: 10px !important;
  height: 10px !important;
}

#attractions-section .location {
    width: calc(33.3% - 2px);
    height: calc(33.3% - 2px);
    float: left;
    background-size: cover;
}

#attractions-section .location {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-position: center;
}

#attractions-section .location:nth-child(3),
#attractions-section .location:nth-child(6),
#attractions-section .location:nth-child(9) {
    border-right: 0 solid #fff
}

#attractions-section .location:nth-child(7),
#attractions-section .location:nth-child(8),
#attractions-section .location:nth-child(9) {
    border-bottom: 0
}

#attractions-section .location h4,
#attractions-section .location p {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    margin-bottom: 0;
}

#attractions-section .location .local-header {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin: 30px;
}

#attractions-section .location:nth-child(5) h4 {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#attractions-section .location:nth-child(5) p {
    background-color: transparent!important;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

#attractions-section .location {
    background-color: #fff
}

 #attractions-section .location p {
     display: none
 }

#attractions-section .location:nth-child(5) p .local-header {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#attractions-section .location:nth-child(5) p {
    display: block
}

.page-sections-11 > .container,
.page-sections-12 > .container {
    padding: 30px 30px 0!important
}

#bx-pager-1 div,
#bx-pager-2 div,
#bx-pager-3 div {
    width: auto;
    height: 30px;
    left: 50%;
    position: absolute;
}

#bx-pager-1 a,
#bx-pager-2 a,
#bx-pager-3 a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: solid 1px #262626;
    float: left;
}

#bx-pager-1 a.active,
#bx-pager-2 a.active,
#bx-pager-3 a.active {
    background-color: #262626
}

#bx-pager-1 a span,
#bx-pager-2 a span,
#bx-pager-3 a span {
    display: none;
    font-weight: 700;
    color: #000;
    position: absolute;
    left: -200px;
    line-height: 175%;
    text-align: right;
    width: 200px;
    font-size:125%;
}

#bx-pager-1 a.active span,
#bx-pager-2 a.active span,
#bx-pager-3 a.active span {
    display: block
}

#up {
    height: 0
}

#gallery-section .filter,
#gallery-section .go-link {
    display: none
}

.head-image {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

#home-section .head-image {
    margin-top: 0
}

#home-section .tableCell,
#rooms-section .tableCell,
#about-us-section .tableCell,
#specials-section .tableCell,
#gallery-section .tableCell,
#attractions-section .tableCell {
    padding: 0 60px 0 0
}

.container .scrollable > .eight.columns.book-now {
    padding-bottom: 50px
}

.post-slider img {
    width: 100%
}

#home .head-image {
    height: 220px
}

.bx-clone {
    display: none
}

#sf_widget_constantcontact_2_form .input {
    width: 160px!important
}

#rooms-select {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 260px;
    width: 130px;
    font-size: 14px;
}

#check-site,
#hotel-site {
    background: #eee;
    /* Old browsers */
    background: #eee -moz-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
    /* FF3.6+ */
    background: #eee -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.2)),color-stop(100%,rgba(0,0,0,.2)));
    /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
    /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
    /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
    /* IE10+ */
    background: #eee linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
    /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 4px 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    text-decoration: none;
    width: 130px;
    margin: 10px auto 0;
    top: 270px;
    position: relative;
    text-align: center;
    color: #303030!important;
}

 #check-site a,
 #hotel-site a {
     color: #303030!important;
     font-size: 13px;
 }

#check-site:hover,
#hotel-site:hover {
    color: #222;
    background: #ddd;
    /* Old browsers */
    background: #ddd -moz-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    /* FF3.6+ */
    background: #ddd -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.3)),color-stop(100%,rgba(0,0,0,.3)));
    /* Chrome,Safari4+ */
    background: #ddd -webkit-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    /* Chrome10+,Safari5.1+ */
    background: #ddd -o-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    /* Opera11.10+ */
    background: #ddd -ms-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    /* IE10+ */
    background: #ddd linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

#check-site:active,
#hotel-site:active {
    border: 1px solid #666;
    background: #ccc;
    /* Old browsers */
    background: #ccc -moz-linear-gradient(top,rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
    /* FF3.6+ */
    background: #ccc -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.35)),color-stop(100%,rgba(10,10,10,.4)));
    /* Chrome,Safari4+ */
    background: #ccc -webkit-linear-gradient(top,rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: #ccc -o-linear-gradient(top,rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
    /* Opera11.10+ */
    background: #ccc -ms-linear-gradient(top,rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);
    /* IE10+ */
    background: #ccc linear-gradient(top,rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%) /* W3C */;
}

#check-site a,
#hotel-site a {
    color: #000
}

#menu-item-670 {
    margin-right: 25px
}

#menu-item-25 {
    margin-right: 17px
}

#menu-item-670 a {
    background-color: #8F8035;
    bottom: 15px;
    color: #F6F0BB;
    padding: 15px;
    position: relative;
}

#menu-item-670 a:hover {
    background-color: #B29E43
}

#newsletter {
    position: absolute;
    right: 316px;
}

 #newsletter a {
     color: #B5B5B5!important;
     display: block;
     font-family: "Oswald","Times New Roman",Helvetica,Arial,sans-serif;
     font-size: 15px;
     padding-right: 8px;
     text-decoration: none;
     text-transform: uppercase;
     transition: color .2s ease-in 0;
 }

 #newsletter a:hover {
     color: #D14E1D!important
 }

#menu-item-324 {
    cursor: pointer
}

.page-sections-11 {
    overflow: hidden
}

.topBar .container {
    padding: 0 15px!important;
    height: 48px;
}

.page-section ul {
    list-style-type: square;
    margin-bottom: 20px;
}

ul.flex-direction-nav {
    list-style-type: none
}

.page-section b {
    font-weight: 700
}

.widgettitle {
    display: none
}

.mainMenu ul {
    margin-bottom: 0
}

.mainMenu ul#main-menu {
    position: absolute;
    right: 10px;
}

#scrollsections-navigation a {
    background: none repeat scroll 0 0 #262626!important
}

#sm-contact {
    position: absolute;
    float: left;
    right: 935px;
    /*right: 775px;*/
    top: 0;
}

 #sm-contact a,
 #sm-contact span {
     float: left;
     height: 47px;
     position: absolute;
     width: 50px;
 }

 #sm-contact .gp.or:hover,
 #sm-contact .fb.or:hover,
 #sm-contact .ta.or:hover {
     filter: alpha(opacity=100);
     opacity: 1;
 }

 #sm-contact .gp.or,
 #sm-contact .fb.or,
 #sm-contact .ta.or {
     -webkit-transition: opacity .2s ease-in-out;
     -moz-transition: opacity .2s ease-in-out;
     -ms-transition: opacity .2s ease-in-out;
     -o-transition: opacity .2s ease-in-out;
     transition: opacity .2s ease-in-out;
 }

 #sm-contact .gp {
     background: url(images/gp-icon-fa.png) no-repeat scroll center center rgba(0,0,0,0);
     left: 35px;
 }

 #sm-contact .fb {
     background: url(images/fb-icon-fa.png) no-repeat scroll center center rgba(0,0,0,0);
     left: 0;
 }

 #sm-contact .ta {
     background: url(images/ta-icon-fa.png) no-repeat scroll center center rgba(0,0,0,0);
     left: 70px;
 }

 #sm-contact .or {
     filter: alpha(opacity=0);
     opacity: 0;
 }

 #sm-contact .gp.or {
     background: url(images/gp-icon-lorange.png) no-repeat scroll center center rgba(0,0,0,0);
     left: 35px;
 }

 #sm-contact .fb.or {
     background: url(images/fb-icon-lorange.png) no-repeat scroll center center rgba(0,0,0,0);
     left: 0;
 }

 #sm-contact .ta.or {
     background: url(images/ta-icon-lorange.png) no-repeat scroll center center rgba(0,0,0,0);
     left: 70px;
 }

#header-contact {
    display: none;
    color: #FFF;
    float: left;
    position: absolute;
    right: 593px;
    text-align: right;
    line-height: 17px;
}

#bgmp_map-canvas {
    height: 350px!important;
    width: 100%!important;
}

.special-box {
    background-color: #fff;
    border: 3px dashed #919191;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

 .special-box h4 {
     text-align: center;
     margin: 0 0 10px;
     color: #000;
     text-transform: capitalize;
 }

 .special-box .copy {
     text-align: center;
     font-weight: 700;
 }

  .special-box .copy b {
      font-size: 22px
  }

 .special-box a {
     margin: 20px 0 0
 }

.spacer {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 15px;
}

.post-slider .flex-direction-nav a {
    opacity: 1!important;
    top: 42%!important;
}

.image-wrapper .extra-links {
    margin-top: -15px!important
}

.image-wrapper a.photo-up {
    background-color:transparent;
}

#navarrows {
    background-image: url(images/Nav_Arrows.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 106px;
  margin: 0px auto 10px auto;
  max-width: 162px;
  margin-top: 20px;
}

.wpcf7-form-control.wpcf7-textarea {
    height: 80px!important
}

.tooltipster-content li {
    line-height: 12px
}

.tooltipster-content ul {
    margin-bottom: 0
}

.tooltipster-content h4 {
    margin-bottom: 10px
}

#rooms #bx-pager-1 a:last-child {

}

.fb-like-box {
    width: 32%!important;
    padding-right: 1%!important;
    height: 500px!important;
}

 .fb-like-box span,
 .fb-like-box span iframe {
     width: 100%!important;
     height: 500px!important;
 }

.bgmp_placemark p {
    font-size: 11px!important;
    line-height: 14px!important;
}

.hide {
    display: none
}

.mw-ext-cite-error {
    display: none
}

.tooltip {
    background: #ebebeb;
    /* Old browsers */
    background: -moz-linear-gradient(top,#ebebeb 0%,#f2f2f2 100%)!important;
    /* FF3.6+ */
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ebebeb),color-stop(100%,#f2f2f2))!important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,#ebebeb 0%,#f2f2f2 100%)!important;
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,#ebebeb 0%,#f2f2f2 100%)!important;
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,#ebebeb 0%,#f2f2f2 100%)!important;
    /* IE10+ */
    background: linear-gradient(to bottom,#ebebeb 0%,#f2f2f2 100%)!important;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb',endColorstr='#f2f2f2',GradientType=0);
    /* IE6-9 */
    border: 1px solid #C9C9C9!important;
}

 .tooltip > span {
     background: none repeat scroll 0 0 #EBEBEB!important;
     border-color: #C9C9C9 #C9C9C9 -moz-use-text-color -moz-use-text-color!important;
     border-top: 1px solid #C9C9C9!important;
     border-right: 1px solid #C9C9C9!important;
 }

#sm-buttons .gp-menu {
    background: url(images/gp-icon.png) no-repeat scroll center center rgba(0,0,0,0);
    border-bottom: 1px solid #111;
    border-top: 1px solid #333;
    border-right: 1px solid #111;
    display: block;
    float: left;
    height: 127px;
    width: 50%;
}

.page-content {
    margin-left: 10px
}

#foot a,
#foot a:visited {
    color: #BF6228;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#foot a:hover {
    color: #D14E1D
}

.tooltip img {
    margin: 0 auto!important;
    width: auto!important;
}

#constant-contact-signup {
    margin: 0
}

.widget ul {
    padding-left: 0!important
}

 .widget ul li {
     border: 0!important;
     color: #fff;
 }

#constant-contact-signup > label {
    width: 200px;
    color: #3A3A3C;
}

input-text-wrap ul {
    float: left
}

nav.mainMenu {
    margin-bottom: 2px;
    margin-right: 40px;
    overflow: hidden;
}

.constant-contact-signup {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 225px;
    left: 0;
    background-color: #F6F0BB;
    top: 33px;
    padding: 12px!important;
    height: 0;
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}

li.constant-contact-signup p {
    color: #3A3A3C;
    position: relative;
    padding: 0;
}

.constant-contact-signup.active {
    height: 280px;
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}

.constant-contact-signup.activesuccess {
    height: 100px
}

#constant-contact-signup-errors {
    left: -255px;
    position: absolute;
    top: 0;
}

#constant-contact-signup .input-text-wrap li {
    border: 0;
    color: #B5B5B5;
}

 #constant-contact-signup .input-text-wrap li label {
     color: #B5B5B5;
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
 }

 #constant-contact-signup .input-text-wrap li label:hover {
     color: #D14E1D;
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
 }

.constant-contact-signup .button.submit {
    margin-top: 10px
}

.constant-contact-signup .input-text-wrap > input {
    width: 200px
}

.constant-contact-signup .input-text-wrap ul {
    bottom: 50px;
    position: absolute;
    left: -260px;
}

#constant-contact-signup .input-text-wrap li {
    clear: both
}

.wikiContent {
    display: none
}

#rooms-select,
#hotel-site,
#check-site {
    display: none
}

#picker {
    font-size: 16px;
    text-align: center;
    color: #F6F0BB;
    background-color: #8F8035;
    margin-bottom: 25px;
}

.picker_button {
    font-size: 18px
}

.picker_button:hover {
    background-color: #B29E43
}

.has-sub:hover {
    background-color: #B29E43
}

/* .picker_property a, .picker_back {
    background-color: #AA9740;
}
   ================================================== */

.picker_property a,
.picker_property a:visited {
    color: #F2F2F2
}

.picker_button,
.picker_site,
.picker_property a,
.picker_property div {
    padding: 10px;
    display: block;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}


.picker_site.active:hover {
    color: #5D5D5D!important
}

#foot container {
    line-height: 14px
}

.footer {
    background-color: #F6F0BB;
    line-height: 15px;
}

.g_arrow {
    background-image: url(images/arrow.png);
    background-position: center bottom;
    display: inline-block;
    height: 13px;
    width: 13px;
    z-index: 999;
    margin-left: 5px;
}

.g_arrow.active {
    background-position: center top
}

nav.mainMenu ul li ul li a {
    width: 300px!important
}

/* attractions  */

#attractions-section {
    padding-bottom: 0!important
}

 #attractions-section .wpgmp_dropdown_ver_menu ul ul li {
     border-top: 0 none
 }

 #attractions-section .wpgmp_dropdown_ver_menu > ul > li {
     border-bottom: 0 none
 }

  #attractions-section .wpgmp_dropdown_ver_menu > ul > li > a > span {
      text-transform: uppercase
  }

 #attractions-section .gm-style .gm-style-iw {
     color: #3A3A3C!important
 }

#specials-section div.container .eight.columns,
#home-section .container > .eight.columns,
#rooms-section .container .scrollable > .eight.columns,
#rooms-section .container .tableCell > .eight.columns,
#about-us-section .container .scrollable > .eight.columns,
#about-us-section .container > .eight.columns {
    background: rgba(0,0,0,0.75);
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
}

 #specials-section div.container .eight.columns .hidebox {
     top: -40px
 }

#specials-section .container .eight.columns.omega,
#home-section .container > .eight.columns,
#rooms-section .container .tableCell > .eight.columns,
#about-us-section .container > .eight.columns {

}

#specials-section .scrollable > .eight.columns.omega,
#home-section .scrollable > .eight.columns,
#rooms-section .container .scrollable > .eight.columns {

}

.wpgmp_dropdown_ver_menu > ul > li:last-child ul {
    display: block!important;
    height: 37px!important;
    background: #8F8035;
}

.wpgmp_dropdown_ver_menu > ul > li:last-child ul:hover {
    background: #B29E43
}

.wpgmp_dropdown_ver_menu > ul > li:last-child input,
.wpgmp_dropdown_ver_menu > ul > li:last-child > a {
    display: none!important
}

.wpgmp_dropdown_ver_menu > ul > li:last-child > ul > li > a {
    display: block!important;
    color: #F8EFB9;
}

#rooms-section {
    padding-top: 0!important
}

 #rooms-section .horzsContainer > li,
 #specials-section .horzsContainer > li,
 #specials-section #lcp_instance_0 > li {
     margin-bottom: 0!important
 }

 #rooms-section .horzsContainer > li {
     padding-top: 48px
 }

/* first special (DISABLE FIRST SELECTOR IF MULTIPLE) */

/*#specials-section {
    
    background-image: url(images/special.jpg);
    background-size: cover;
    background-position: center;
}*/
/*
 #specials-section .container .horzsContainer > li:nth-child(1) {
     background-image: url(/wp-content/uploads/2014/04/NovatoQI-81.jpg);
     background-size: cover;
 }*/

/* second special  */

/* #specials-section .container .horzsContainer > li:nth-child(2) {
     background-image: url(images/special.jpg);
     background-size: cover;
     background-position: center bottom;
 }*/

/* third special  */

/* #specials-section .container .horzsContainer > li:nth-child(3) {
     background-image: url(images/special.jpg);
     background-size: cover;
 }*/

/* first hotel  */

/* #rooms-section .container .horzsContainer > li:nth-child(1) {
background-image: url(images/Capri-WEB-6.jpg);
background-size: cover;
}
   ================================================== */

/* second hotel  */

/* #rooms-section .container .horzsContainer > li:nth-child(2) {
background-image: url(../../uploads/2013/09/DSC_0370.jpg);
background-size: cover;
}
   ================================================== */

/* third hotel  */

/*#rooms-section .container .horzsContainer > li:nth-child(3) {
    background-image: url(../../uploads/2013/09/NovatoQI-21.jpg);
    background-size: cover;
}*/

/* fourth hotel  */

#rooms-section .container .horzsContainer > li:nth-child(4) {
    background-image: url(../../uploads/2013/09/CA996_QQ1.jpg);
    background-size: cover;
}

/* fifth hotel  */

#rooms-section .container .horzsContainer > li:nth-child(5) {
    background-image: url(../../uploads/2013/09/mg-0109-edited-1-pe-copy.jpg.1024x0.jpg);
    background-size: cover;
}

/* about us  */

#about-us-section {
    background-image: url(../../uploads/2014/04/aboutus.jpg);
    background-size: cover;
}

/* home  */

/*#home-section {
    background-image: url(../../uploads/2013/09/NovatoQI-20.jpg);
    background-size: cover;
}*/

/* gallery  */

#gallery-section {
    background-image: url(assets/img/theme/husk.png)
}

/* attractions  */

#attractions-section {
    background-image: url(assets/img/theme/husk.png)
}

/* contact  */

#contact-section {
    background-image: url(assets/img/theme/husk-old.png);
    color: #000;
}

#home-section .container .eight.columns h2,
#rooms-section .container .eight.columns h2,
#about-us-section .container .eight.columns h2 {
    background: none;
    text-align: center;
}

#home-section .container .heading,
#rooms-section .container .heading,
#about-us-section .container .heading,
#specials-section .container .heading {
    background: none;
    text-align: center;
}

.center {
    text-align: center;
    margin-bottom: 5px;
}

.contact-info {
    font-size: 14px;
    font-weight: 700;
}

/* ===[ Remove check availability ]=== */

#rooms-section .container .tableCell .eight.columns .color-btn.black:nth-child(3) {
    display: none
}

#twine-embed-iframe,
.twine-embed-iframe {
    height: 2000px!important
}

.topBar {
    background: url(./images/topbar.png) repeat-x scroll 0 0 rgba(0,0,0,0)!important;
    height: 51px;
}

.left-direction .menufication-multiple-toggle,
.left-direction .menufication-non-css3-multiple-toggle {
    width: 74px!important;
    right: 25px!important;
}

.book-now-sidebar {
    display: block;
    cursor: pointer;
    padding: 25px 20px;
    background: none repeat scroll 0 0 #918436!important;
    clear: both;
    display: block;
    text-align: center;
    transition: color .2s ease-in 0;
}

 .book-now-sidebar a {
     color: #000!important;
     font-family: "Oswald","Times New Roman",Helvetica,Arial,sans-serif;
     font-size: 250%;
     text-transform: uppercase;
 }

#menufication-btn p {
    color: #000!important;
    padding-top: 9px!important;
}

#menufication-nav ul ul li,
#menufication-nav ul ol li,
#menufication-nav ol ol li,
#menufication-nav ol ul li,
#menufication-nav li {
    margin-bottom: 0
}

#menufication-multiple-container,
#menufication-non-css3-multiple-container {
    padding: 0!important
}

.book-now {
    clear: both;
    color: #000!important;
    display: block;
    font-family: "Oswald","Times New Roman",Helvetica,Arial,sans-serif;
    font-size: 250%;
    margin-bottom: 200px;
    padding: 30px 0!important;
    text-align: center;
    transition: color .2s ease-in 0;
}

.book-now.right-now {
    clear: right;
    line-height: 40px;
}

.book-now:hover {
    color: #BF6228
}

.gallery-padding {
    padding: 0px!important
}

 .gallery-padding .img-frame h5 {
     display: none
 }

 .gallery-padding .img-frame {
     box-shadow: none;
     display: block;
     height: auto;
     max-width: 100%;
     overflow: hidden;
     padding:0;
     border: 0;
 }

 #gallery-section li {
 	border-right:2px solid #fff;
 	border-bottom:2px solid #fff;
 }

#gallery-section li:nth-child(3n)  {
 	border-right:0;
}

#gallery-section li:nth-last-child(1),#gallery-section li:nth-last-child(2),#gallery-section li:nth-last-child(3)  {
border-bottom:0px;
}

#gallery-section .container .four.columns {
    padding-bottom: 0;
    margin-bottom: 0;
}

#gallery-section .container img {
    width: 100%;
}

.bottom-navigation img {
	border:4px solid #000;
}

#home-section .eight.columns {
    margin-bottom: 300px;
}
/*#home-section .eight.columns.hidebox {
    background-color:transparent;
}*/

.slimScrollBar {
    opacity: .75!important
}

.page-template .page-sections {
    margin-left: 20%
}

.page-template-template-left-sidebar-php .constant-contact-signup {
    height: auto
}

.page-template-template-left-sidebar-php .two-thirds.column.posts {
    display: none
}

.page-template-template-left-sidebar-php .rightpadding.sidebar {
    display: block
}

.page-template .titleBar:first-child {
    display: none
}

/*.tableCell > div, .tableCell > a {
    box-shadow:black 0px 0px 10px;
}*/

.tableCell > div.container, .tableCell > div.slimScrollDiv {
    box-shadow:none;
}

.bottom-navigation {
  z-index: 9999;
  position: absolute;
  width:100%;
  text-align: center;
  height: 150px;
  margin: 0 auto;
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;
  bottom:0px;
}

.bottom-navigation > div {
    width:400px;
        background-color: rgba(0,0,0,0.75);
          margin: 0 auto;
  padding:15px 0 7px 0;
}

.bottom-navigation img {
	width:100px;
	margin:0 10px;
	box-shadow: 0px 0px 30px -5px black;
}

.bottom-navigation img.active {
border:4px solid #e49a3f;
}

.bottom-navigation h3 {
	display:none;
	font-size:1.2em;
	line-height: 1em;
}

.bottom-navigation h3.active {
	display:block;
}

.room-name {
	height:25px;
}



/* above media  */

.page-template-page-booking .page-sections {
margin-left: 0;
}

.page-template-page-booking #fullPage-nav {
    display: none !important;
}

.page-template-page-booking section .tableCell {
    padding:30px 0 0 0;
}

.page-template-page-booking .page-content {
    margin-left:0px;
}

.image-wrapper .extra-links {
    height:100%;
    margin-top:-27% !important;
}

.image-wrapper a.photo-up {
    width:100% !important;
    height:100% !important;
    background-color:transparent !important;
    margin:0 !important;
}

.topBar {
    width: 80%!important;
    margin-left: 20%!important;
}

section .tableCell {
    vertical-align: top;
    padding: 30px 60px 60px 30px;
}

#iform {
    margin: 0;
    padding: 0 10px;
}

 #iform a {
     display: inline;
     line-height: 30px;
     margin-left: 5px;
     padding-top: 9px;
     vertical-align: bottom;
     width: 20px;
 }

 #iform select {
     width: 75%
 }

 #iform .datein {
     display: inline;
     background-color: #FFF;
     background-image: url(./calendar.gif);
     background-position: 2px center;
     background-repeat: no-repeat;
     padding-left: 25px;
     margin-left: 0;
     position: relative;
     width: 100px;
     z-index: 2000!important;
 }

 #iform .checkdates {
     float: left;
     width: 45%;
     margin-left: 2.5%;
 }

 #iform .checkdates:nth-child(even) {
     margin-right: 2.5%;
     margin-left: 0;
 }

 #iform .floatleft {
     float: left;
     width: 30%;
     margin-right: 2.5%;
 }

 #iform .floatleft.dates {
     width: 33%
 }

/* #iform .floatleft select {
    width:;
}
   ================================================== */

 #iform .booksubmit {
     margin-top: 5px!important
 }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    color: #BF6228!important
}

#superContainer {
    left: 20%;
    width: 80%;
}

div#TA_certificateOfExcellence163.TA_certificateOfExcellence {
    margin-bottom: 40px
}

/* wide no scroll */
#specials-section .container div.eight.columns {
    padding-top: 40px!important;
    padding-bottom: 0!important;
}

#specials-section div.container .eight.columns {
padding-bottom: 30px !important;
}

#rooms-section .container .tableCell>a.book-now.eight.columns {
    padding: 30px 0!important;
    clear:both;
    margin:0 !important;
}

#home-section .eight.columns {
    margin-bottom: 0
}

/* hidebox */

.hidebox {
    /* bottom: 0; */
    /* height: 50px; */
    text-align: center;
    float: left!important;
    display: block!important;
    /* background: none !important; */
    clear: both;
    margin-bottom: 0!important;
    background-image: url(images/close33.png)!important;
    background-repeat: no-repeat!important;
    background-position: right 5px top 5px!important;
    height: 40px;
    left: 0;
    padding: 0!important;
    top: 0;
}

.hidebox.active {
    background-image: url(images/mode.png)!important
}

.closedrawer {
    height: 0;
    min-height: 0px;
    overflow: hidden;
    -webkit-transition: height .2s ease-in-out;
     -moz-transition: height .2s ease-in-out;
     -ms-transition: height .2s ease-in-out;
     -o-transition: height .2s ease-in-out;
     transition: height .2s ease-in-out;
}


.container .columns.book-now.closedrawer {
    display: none!important
}

/* wide yes scroll */

.book-now {
    margin-bottom: 0
}

#home-section .scrollable div.eight.columns,
#contact-section .scrollable div.eight.columns.omega {
    margin-bottom: 300px!important
}

#contact-section .scrollable div.eight.columns.omega {
    margin-top: 0!important
}

/*#rooms-section .container .tableCell > .eight.columns,
#rooms-section .container .scrollable > div.eight.columns {
    padding: 0 15px 40px!important
}*/

.scrollable .book-now {
    margin-bottom: 300px
}

.container .scrollable > .eight.columns.hidebox,
.scrollable .container > .eight.columns.hidebox,
.scrollable .container > ul > li > div.eight.columns.alpha {
    margin-top: 100px
}

.container .scrollable > .eight.columns.book-now {
    margin-top: 0
}

.scrollable .container .eight.columns.hidebox {
    margin-top: 100px
}

/* horizontal slide sections  */


section .tableCell .hidebox {
 text-align: right;
  padding-right: 45px !important;
  line-height: 40px;
  color: #fff;
  font-weight: 100;

}

section .tableCell .hidebox span:nth-child(2) {
	display: none;
}

/* other */

.tableCell > div.eight.columns.alpha,
.container > div.eight.columns.alpha {
    clear: both
}

#specials-section .container .columns.book-now.right-now {
    clear: both;
    margin-left: 0!important;
}

.mainMenu ul#main-menu {
    height: 33px
}


.page-section .container > ul {
    list-style-type: none!important;
    margin-bottom: 0;
}

.gallery-padding .img-frame {
    border-radius: 0;
    background-color: #fff;
}

#attractions-section .gm-style .gm-style-iw {
    background-color: transparent
}

#attractions-section .location:nth-child(5) .divider {
display:none;
}

#map-selected {
    display: none!important
}

section#gallery-section h3 {
    margin-left: 20px
}

.book-now > .hidebox.x {
    display: none!important
}

/* prettyPhoto styling for small screens  - below 767px width  */

@media only screen and (max-width: 767px) { 

#attractions-section .location:nth-child(1), #attractions-section .location:nth-child(2) {
    margin-top: 100px;
}

#attractions-section .location:nth-child(8), #attractions-section .location:nth-child(9) {
    margin-bottom: 300px;
}

#contact-section .scrollable div.eight.columns.alpha {
margin-top:100px;
}

#contact-section .scrollable div.eight.columns.omega {
margin-bottom:300px;
}

.page-section .container > ul {
margin: 100px 0 300px 0;
}

.bottom-navigation {
width:100%;
}

    #home-section a.eight.columns.hidebox {
    margin-top:100px;
}

#rooms-section .book-now {
margin-bottom: 100px;
}

    .pp_pic_holder.pp_default {
        width: 100%!important;
        left: 0!important;
        overflow: hidden;
    }

    div.pp_default .pp_content_container .pp_left {
        padding-left: 0!important
    }

    div.pp_default .pp_content_container .pp_right {
        padding-right: 0!important
    }

    .pp_content {
        width: 100%!important;
        height: auto!important;
    }

    .pp_fade {
        width: 100%!important;
        height: 100%!important;
    }

    a.pp_expand,
    a.pp_contract,
    .pp_hoverContainer,
    .pp_gallery,
    .pp_top,
    .pp_bottom {
        display: none!important
    }

    #pp_full_res img {
        width: 100%!important;
        height: auto!important;
    }

    .pp_details {
        width: 100%!important;
        padding-left: 3%;
        padding-right: 4%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fff;
        margin-top: -2px!important;
    }

    a.pp_close {
        right: 10px!important;
        top: 10px!important;
    }
}

@media only screen and (max-width: 767px) { 
    section#attractions-section .wpgmp_category_container {
        width: 300px!important
    }


}

@media only screen and (min-width: 1040px) { 
    .mainMenu ul#main-menu {
        width: 790px
    }
}

@media only screen and (max-width: 1040px) { 
    #iform .checkdates {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

        #sidebar h3 {
    	font-size: 28px !important;
    }

    nav.mainMenu ul li a {
        font-size: 16px!important
    }

    #menu-item-670 a {
        padding: 15px 10px
    }

    #sm-contact {
        right: 760px
    }

    #menu-item-670 {
        margin-right: 10px
    }

    #menu-item-25 {
        margin-right: 2px
    }

    #sm-contact {
        right: 700px
    }
}

@media only screen and (min-width: 767px) { 

	.container .four.columns {
  width: 33.3% !important;
  height: 25%;
}

    #attractions-section .tableCell {
        padding: 0 60px 0 0
    }

    /* #attractions-section .tableCell .container > div {
        height:100% !important;
    }
       ================================================== */

     #attractions-section .tableCell .container > div #map2 {
         height: 100%!important
     }

    #contact {
        padding-bottom: 0!important
    }

    .container {
        height: 100%
    }

    .bx-wrapper .bx-viewport {
        left: 0!important;
    }
}

@media only screen and (max-width: 767px) { 



 #gallery-section li {
 	border:0px solid #fff;
 	padding:5px 0px 5px 5px;
}

#gallery-section li:nth-last-child(1),#gallery-section li:nth-last-child(2),#gallery-section li:nth-last-child(3)  {
border-bottom:0px;

}


    #attractions-section .location {
        width: 100%;
        height: 200px;
        border-bottom: 2px solid #fff;
        border-left: 0;
        border-right: 0;
    }

    #attractions-section .location:nth-child(5) {
        display: none
    }

    .mc--iframe-responsive-wrapper {
        right: 120px!important
    }

    #superContainer {
        left: 0!important;
        width: 100%!important;
    }

    .page-template .page-sections {
        margin-left: 0
    }

    .eight.columns p,
    .eight.columns li {
        font-size: 120%!important;
        line-height: 120%!important;
    }

    .slimScrollDiv {
        overflow: visible!important
    }

    .slimScrollBar {
        right: -12px!important
    }

    #fullPage-nav.right {
        right: 10px!important
    }

    #contact-section .eight.columns.omega {
        margin-bottom: 300px
    }

    #bx-pager-1,
    #bx-pager-2,
    #bx-pager-3 {
        bottom: 51px;
        height: 32px;
    }

    #bx-pager-1 a span, #bx-pager-2 a span, #bx-pager-3 a span 
    {
        line-height: 100%;
    }

    #contact-section #bgmp_map-canvas {
        height: 150px
    }

    #attractions-section .tableCell {
        padding: 0 60px 0 0
    }

     #attractions-section .tableCell .container,
     #attractions-section .tableCell .container > div,
     #attractions-section .tableCell .container #map2 {
         height: 100%!important
     }

    #gallery-section .container .four.columns {
        width: 50%;
    }

    #gallery-section,
    #attractions-section,
    #specials-section,
    #contact-section {
        padding-top: 0!important
    }

    #rooms-section .horzsContainer > li {
        padding-top: 0
    }

    ./*section.table,
    .horz.table {
        width: 100%!important;
        background-position:center;
    }*/

    #rooms-section {
        padding: 0!important
    }

    #home-section.page-section {
        padding-top: 0!important
    }

 /*   #rooms-section .horz.table {
        width: 50%!important
    }*/

    .page-sections-11 > .container,
    .page-sections-12 > .container,
    .page-sections-121 > .container {
        padding: 30px 15px 0!important
    }

    /* .bxslider-1 > li, .bxslider-2 > li, .bxslider-3 > li {
        margin-right: 0;
        padding: 30px 15px 0;
    }
       ================================================== */

    #rooms,
    #cities,
    #news,
    #contact {
        padding-top: 5px!important
    }

    .bx-wrapper {
        margin: 0 auto!important
    }

    #bx-pager-1 a,
    #bx-pager-2 a,
    #bx-pager-3 a {
        height: 23px;
        width: 23px;
        margin: 4px 0 0 10px!important;
    }

     #bx-pager-1 a span,
     #bx-pager-2 a span,
     #bx-pager-3 a span {
         top: 10px;
         font-size: 12px;
     }

    .fb-like-box {
        padding-right: 1%!important;
        padding-top: 20px;
        width: 99%!important;
        float: left!important;
        height: 500px!important;
    }

    .fb_iframe_widget {
        display: block!important;
        position: inherit!important;
    }

    #rooms .container,
    #cities .container {
        min-height: 1000px!important
    }

    .page-section .container {
        padding-top: 0!important
    }

    #home .container,
    #contact .container,
    #news .container {
        padding-top: 0!important
    }

    .topBar.normal-menu {
        display: none
    }

    .rightpadding.sidebar {
        display: none
    }

    .two-thirds.column.posts {
        width: 100%!important
    }

    #home {
        top: 0!important
    }

    #up {
        height: 0!important
    }

    #sidebar {
        display: none!important
    }

    #top .container .hide-text {
        display: block
    }

    .page-section,
    #blog,
    #top {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 570px) { 
    #contact .container .eight.columns {
        width: 100%!important;
        margin-left: 0!important;
    }

    .container .column,
    .container .columns {
        margin-left: 0!important;
        margin-right: 0!important;
    }

    #bgmp_map-canvas {
        margin-bottom: 100px!important
    }
}

.menufication-menu-level-0 {
    padding-bottom: 150px
}

#menufication-nav .site-info {
    bottom: relative;
    position: absolute;
}

#menufication-outer-wrap .menufication-scroll #menufication-nav .site-info > a {
    font-size: 12px!important
}




/*nav.mainMenu ul li ul li:hover {
background-color: #acb270 !important;
}*/

#picker, .picker_site
{
    color:#475c22 !important;
    background-color:#a2a866;
}

.picker_button,#menu-item-670 a,.book-now {
    background-color:#a2a866 !important;
}

.picker_site {
         -webkit-transition: background-color .2s ease-in-out;
     -moz-transition: background-color .2s ease-in-out;
     -ms-transition: background-color .2s ease-in-out;
     -o-transition: background-color .2s ease-in-out;
     transition: background-color .2s ease-in-out;
}

.picker_button:hover, #menu-item-670 a:hover, .picker_site:hover, .book-now:hover
{
    background-color:#acb270 !important;
}

#menu-item-670 a:hover {
    color:#475c22 !important;
}


#iform,nav.mainMenu ul li a, #sidebar{
    color:#fff !important;
}

#sidebar {
    background: #475c22; /* Old browsers */
background: -moz-linear-gradient(top, #475c22 10%, #779938 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#475c22), color-stop(100%,#779938)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #475c22 10%,#779938 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #475c22 10%,#779938 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #475c22 10%,#779938 100%); /* IE10+ */
background: linear-gradient(to bottom, #475c22 10%,#779938 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475c22', endColorstr='#779938',GradientType=0 ); /* IE6-9 */
}

#sidebar .bx-wrapper {
    bottom:25px 
}

nav.mainMenu ul li > a:hover, nav.mainMenu ul li.active > a, h1, h2, h3, h4, h5, h6,#foot a {
    color:#e49a3f!important;
}

#bx-pager-1,
#bx-pager-2,
#bx-pager-3 {
    background-color: #e49a3f;
}

#mc_embed_signup {
	display:none;
    position: absolute;
  right: 0 !important;
  padding-left: 20px;
  top: 48px;
  padding-top: 20px;
  padding-right: 20px;
  background-color:#475c22;
  z-index:0;
}

#mc_embed_signup div > label {
color:#fff;
font-size:1.2em;
line-height: 2em;
}


  @media only screen and (max-width: 767px) {
 
.bottom-navigation img {
    width:75px;
}

.bottom-navigation a{
-webkit-touch-callout: none;
-webkit-user-select: none;
}

.bottom-navigation > div {
    background-color:rgba(0,0,0,0.75);
    width:auto;
}

.bottom-navigation {
    background-color:transparent;
    height:125px;
    bottom:50px;
}

#attractions-section .location {
    width:100%;
    height:200px;
    border-bottom:2px solid #fff;
    border-left:0px;
    border-right:0px;
}

#attractions-section .location:nth-child(5) {
    display:none;
}

#attractions-section .location {
  border: 0px solid #fff !important;
}

#attractions-section .location {
  border-bottom: 2px solid #fff !important;
}

#attractions-section .location:nth-child(1), #attractions-section .location:nth-child(3), #attractions-section .location:nth-child(6), #attractions-section .location:nth-child(8){
  border-right: 2px solid #fff !important;
}

#attractions-section .location{
    width:50%;
    height:33.3% !important;
    float:left;
    background-size:cover;
}

#attractions-section .location:nth-child(5) {
	display: none !important;
}

#attractions-section .location {
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
}
#attractions-section .location:nth-child(3) {
border-right: 0px solid #fff;
}

#attractions-section .location:nth-child(7),#attractions-section .location:nth-child(8),#attractions-section .location:nth-child(9) {
border-bottom:0px;
}
}

#attractions-section .location h4, #attractions-section .location p{
background-color: rgba(0,0,0,0.6);
padding: 15px;
margin-bottom:0;
}

#attractions-section .location .local-header {
    padding:15px;
    font-size:18px;
    text-align: center;
    margin:30px;
}

#attractions-section .location p {
    display:none;
    color:#fafafa !important;
}

#attractions-section .location h4{
    color:#fafafa !important;
}

#attractions-section .location a {
    color:#dedede !important;
}

#attractions-section .location:nth-child(5) h4{
display:table-cell;
color:#466375 !important;
background-color:transparent;
padding:0;
margin:0;
text-align: center;
vertical-align: middle;
font-size: 250%;
}

#attractions-section .location:nth-child(5) {
    display:table;
}

#attractions-section .location:nth-child(5) p {
    background-color:transparent!important;
    color:black;
    padding-bottom:0;
    margin-bottom:0;
    text-align: center;
}

#attractions-section .location {
background-color:#fff;
}

#attractions-section .location:nth-child(5) p .local-header {
text-transform: uppercase;
margin:0;
padding:0;
}

#attractions-section .location:nth-child(5) p {
    display: none;
    }

    #attractions-section .location:nth-child(5) a.maplink {
    display:none;
}

#sidebar,.footer,nav.mainMenu ul li ul li {
    background-color:#475c22 !important;
}


.special-name {
height:23px;
}
/* Color Scheme (Default is Greenwich) */


/* Marinwood */



#sidebar,.footer,nav.mainMenu ul li ul li, div#load_screen {
    background-color:#F8EFB9 !important;
}
.topBar {
  background: url(images/topbar-marin.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
  height: 51px;
}

#sidebar {
	color:#3A3A3C
	background: #f8efb9; 
background: -moz-linear-gradient(top, #f8efb9 0%, #f7f0ca 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8efb9), color-stop(100%,#f7f0ca)); 
background: -webkit-linear-gradient(top, #f8efb9 0%,#f7f0ca 100%); 
background: -o-linear-gradient(top, #f8efb9 0%,#f7f0ca 100%); 
background: -ms-linear-gradient(top, #f8efb9 0%,#f7f0ca 100%); 
background: linear-gradient(to bottom, #f8efb9 0%,#f7f0ca 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8efb9', endColorstr='#f7f0ca',GradientType=0 ); /* IE6-9 */
}

#sidebar h3, nav.mainMenu ul li > a:hover, nav.mainMenu ul li.active > a, h1, h2, h3, h4, h5, h6, #foot a{
	color: #BF6228 !important;
}

#navarrows {
    background-image: url(images/Nav_Arrows_bl.png);
}
.bxslider-sidebar li > div {
	background:#fff;
	color:#000;
}

.picker_button:hover, #menu-item-670 a:hover, .picker_site:hover, .book-now:hover {
  background-color: #B29E43 !important;
}

.bxslider-sidebar li > div:before {
	border-color:#fff transparent;
}

#iform, nav.mainMenu ul li a, #sidebar {
	color: #3A3A3C !important;
}

.picker_button, #menu-item-670 a, .book-now, #picker, .picker_site,#mc_embed_signup { 
	background-color:#8F8035 !important;
}

#picker, .picker_site, #menu-item-670 a, #menu-item-670 a:hover {
  color: #f8efb9 !important;
}

#mc_embed_signup div > label {
	color:#303030;
}

#sm-contact .fb {
  background: url(images/fb-icon-grey.png) no-repeat scroll center center rgba(0,0,0,0);
}
#sm-contact .ta{
  background: url(images/ta-icon-grey.png) no-repeat scroll center center rgba(0,0,0,0);
}
#sm-contact .gp {
	background: url(images/gp-icon-grey.png) no-repeat scroll center center rgba(0,0,0,0);
}
#sm-contact .ta.or {
  background: url(images/ta-icon-orange.png) no-repeat scroll center center rgba(0,0,0,0);
}

#sm-contact .gp.or {
  background: url(images/gp-icon-orange.png) no-repeat scroll center center rgba(0, 0, 0, 0);
 }

#sm-contact .fb.or {
background: url(images/fb-icon-orange.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
