/*
Theme Name: NineZeroSeven
Theme URI: http://www.webcreations907.com
Author: webcreations907
Author URI: http://themeforest.net/user/webcreations907
Description: One Page Parallax Theme
Version: 3.0.3
License: GNU General Public License
License URI: license.txt
Tags: black
*/

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 80% !important;
}

p {
    font-size: 100% !important;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.gallery-caption{}

.sticky{}

.bypostauthor{}

#wpadminbar {
    display: none;
}

#sidebar {
    background-color: #262626;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 20%;
}

#sidebar h3 {
    font-size: 42px;
    line-height: 46px;
}


#top .container .hide-text {
    display: none;
}

.page-section, #blog, #top {
    margin-left: 20%;
    width: 80%;
}

#sidebar-logo {
background-image: url("images/InnSF-Logo.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 86px;
    margin: 45px auto 20px;
    text-align: inherit;
    max-width: 180px;
}

#sidebar {
    color:#fff;
}

.custom-header-option {
    display: none;
}


.bx-wrapper .bx-viewport {
    background: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
}

.bxslider-sidebar li {
    height:250px;
}

.bxslider-sidebar {
    margin-bottom:30px;
}

.container .bx-wrapper .bx-viewport{
    min-height: 1000px;
}

#bx-pager-1, #bx-pager-2 {
    text-align: center;
}

#bx-pager-1 a, #bx-pager-2 a {
    margin: 0 10px;
}

#bx-pager-1 a.active img, #bx-pager-2 a.active img {
border: 2px solid black;
}

#bx-pager-1 a img, #bx-pager-2 a img {
border: 2px solid transparent;
}

#bx-pager-1 a, #bx-pager-2 a {
margin: 8px 0 0 10px;
}

.bx-wrapper {
     margin: 0 auto 20px !important;
}

.bxslider-sidebar li {
 font-size: 14px !important;
    line-height: 18px !important;
    margin: 0 10px !important;
    width:auto !important;
    text-align: center !important;
}

.topBar h1.hide-text {
    background: url(http://placehold.it/150x30) !important;
     height: 30px !important;
    width: 150px !important;
}

h2.gone {
    display: none;
}

.cat-item-4, .cat-item-3 {
    display: none;
}

.meta li.user, .meta li.comments {
    display: none;
}


.container > .heading {
    display: none;
}


.bxslider-sidebar li {
    overflow: hidden;
    margin-bottom: 30px !important;
}

#bx-pager-1, #bx-pager-2 {
    position:absolute; 
    bottom:-20px;
    width: 100%;
    height: 30px;
    background-color:#D14E1D;
    right:0px;
    z-index: 99;
}

#footer {
    position:absolute; 
    bottom:0;
    width: 100%;
    height: 50px;
    background-color:#303030;
    right:0px;
    color:#999999;
    padding: 15px 15px 0 15px !important;
    text-align: center;
}

#footer .fl {
    width: 100%;
}

#hotels, #cities, #news, #contact {
    padding-top: 30px !important;
}

.page-section {
    padding-bottom: 20px !important;
    padding-top: 48px !important;
}



.bxslider-1 > li, .bxslider-2 > li {
margin-right: 0px;
padding: 30px 30px 0;
}

.page-sections-11 > .container, .page-sections-12 > .container {
padding: 30px 30px 0 !important;
}

#bx-pager-1 div, #bx-pager-2 div {
width: auto;
height: 30px;
left: 44.5%;
position: absolute;
}

#bx-pager-1 a, #bx-pager-2 a{
display:block;
width:14px;
height:14px;
background-color: #fff;
border: solid 1px #262626;
float:left;
}

#bx-pager-1 a.active, #bx-pager-2 a.active {
background-color: #262626;
}

#bx-pager-1 a span, #bx-pager-2 a span{
    display:none;
    font-weight:bold;
    color: #000;
    position: absolute;
    left: -160px;
    line-height: 12px;
    text-align: right;
width: 160px;
}

#bx-pager-1 a.active span, #bx-pager-2 a.active span {
    display:block;
}

#up {
    height:0px;
}

.head-image {
background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

#home-section .head-image {
    margin-top: 0px;
}

#home-section .tableCell, #hotels-section .tableCell, #about-us-section .tableCell {
padding: 0px 60px 60px 0px;
}

.container .scrollable > .eight.columns {
    padding-bottom: 50px;
}

.post-slider img {
    width: 100%;
}

#home .head-image {
height: 220px;
}

.bx-clone {
    display: none;
}

#sf_widget_constantcontact_2_form .input{
width: 160px !important;
}

#hotels-select {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 260px;
    width: 130px;
    font-size: 14px;
}


#check-site, #hotel-site {
        background: #eee; /* Old browsers */
        background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
        background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
        background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
      border: 1px solid #aaa;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 4px 12px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #444;
      display: block;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 20px;
      line-height: normal;
      padding: 8px 10px;
    text-decoration: none;
        width: 130px;
        margin:10px auto 0px auto;
    top: 270px;
    position: relative;
    text-align: center;
    color:#303030!important;
}

#check-site a, #hotel-site a {
    color:#303030!important;
    font-size: 13px;
}

#check-site:hover, #hotel-site:hover {
    color: #222;
        background: #ddd; /* Old browsers */
        background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
        background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
        background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
        background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
        background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
        background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
      border: 1px solid #888;
      border-top: 1px solid #aaa;
      border-left: 1px solid #aaa;
}

#check-site:active, #hotel-site:active {
border: 1px solid #666;
        background: #ccc; /* Old browsers */
        background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
        background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
        background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
        background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
        background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
        background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }
}

#check-site a, #hotel-site a {
color:#000;
}

#menu-item-542 {
    margin-right: 25px;
}

#newsletter {
    position: absolute;
    right: 316px;
}

#newsletter a{
    color: #B5B5B5 !important;
    display: block;
    font-family: "Oswald","Times New Roman",Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease-in 0s;
}

#newsletter a:hover {
color: #D14E1D !important;
}

.page-sections-11 {
    overflow: hidden;
}

.topBar .container {
   padding: 0 15px !important;
}

.page-section ul {
list-style-type: disc;
}

ul.flex-direction-nav {
    list-style-type: none;
}
.page-section b {
font-weight:bold;
}



.widgettitle {
    display:none;
}

.mainMenu ul {
    margin-bottom: 0px;
}

.mainMenu ul#main-menu {
 position: absolute;
 right: 40px;
}

#scrollsections-navigation a {
    background: none repeat scroll 0 0 #262626 !important;
}  

#sm-contact {
    position: absolute;
    float: left;
    right:745px;
    /*right: 775px;*/
    top: 0px;
}

#sm-contact a, #sm-contact span {
    float: left;
    height: 47px;
    position: absolute;
    width: 50px;
}


#sm-contact .gp.or:hover, #sm-contact .fb.or:hover {
filter: alpha(opacity=100);
  opacity: 1;
}

#sm-contact .gp.or, #sm-contact .fb.or {
    -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

#sm-contact .gp {
background: url("images/gp-icon-grey.png") no-repeat scroll center center rgba(0, 0, 0, 0);
left: 35px;
}

#sm-contact .fb {
background: url("images/fb-icon-grey.png") no-repeat scroll center center rgba(0, 0, 0, 0);
left:0;
}

#sm-contact .or {
filter: alpha(opacity=0);
  opacity: 0;
}

#sm-contact .gp.or {
background: url("images/gp-icon-orange.png") no-repeat scroll center center rgba(0, 0, 0, 0);
left: 35px;
}

#sm-contact .fb.or {
background: url("images/fb-icon-orange.png") no-repeat scroll center center rgba(0, 0, 0, 0);
left:0;
}

#header-contact {
    display:none;
    color: #FFFFFF;
    float: left;
    position: absolute;
    right: 593px;
    text-align: right;
    line-height: 17px;
}



#bgmp_map-canvas {
    height: 240px !important;
    width: 100% !important;
}

.special-box {
    background-color: #fff;
    border: 3px dashed #919191;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding:10px;
}

.special-box h4 {
text-align: center;
margin: 0px 0 10px;
color: #000;
text-transform: capitalize;
}

.special-box .copy {
    text-align: center;
    font-weight: bold;
}

.special-box .copy b {
    font-size: 22px;
}

.special-box a {
margin: 20px 0 0;
}

.spacer {
width: 100%;
float: left;
clear: both;
margin-top: 15px;
}

.post-slider .flex-direction-nav a {
    opacity: 1 !important;
    top: 42% !important;
}

.image-wrapper .extra-links {
    margin-top: -15px !important;
}

#navarrows {
    background-image: url("images/Nav_Arrows.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

.wpcf7-form-control.wpcf7-textarea {
    height:80px !important;
}

.tooltipster-content li {
    line-height: 12px;
}

.tooltipster-content ul {
    margin-bottom: 0px;
}

.tooltipster-content h4 {
    margin-bottom: 10px;
}

#hotels #bx-pager-1 a:last-child {
}

.fb-like-box {
    width: 32% !important;
    padding-right: 1% !important;
    height: 500px !important;
}

.fb-like-box span, .fb-like-box span iframe{
    width: 100% !important;
    height: 500px !important;
}

.bgmp_placemark p {
    font-size: 11px !important;
    line-height: 14px !important;
}

.hide {
    display: none;
}

.mw-ext-cite-error {
    display: none;
}

.tooltip {
    background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #ebebeb 0%, #f2f2f2 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#f2f2f2)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebebeb 0%,#f2f2f2 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebebeb 0%,#f2f2f2 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebebeb 0%,#f2f2f2 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #ebebeb 0%,#f2f2f2 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    border: 1px solid #C9C9C9 !important;

}

.tooltip > span {
    background: none repeat scroll 0 0 #EBEBEB!important;
    border-color: #C9C9C9 #C9C9C9 -moz-use-text-color -moz-use-text-color!important;
    border-top: 1px solid #C9C9C9!important;
border-right: 1px solid #C9C9C9!important;
}



#sm-buttons .gp-menu {
    background: url("images/gp-icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border-bottom: 1px solid #111111;
    border-top: 1px solid #333333;
    border-right: 1px solid #111111;
    display: block;
    float: left;
    height: 127px;
    width: 50%;
}

.page-content {
    margin-left: 10px;
}

#foot a, #foot a:visited {
    color:#B5B5B5;
-webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#foot a:hover {
color: #D14E1D;
}

.tooltip img {
    margin: 0 auto !important;
    width: auto !important;
}

#constant-contact-signup {
    margin:0;
}

.widget ul {
    padding-left: 0 !important;
    }
.widget ul li {
    border:0 !important
    color:#fff;
}

#constant-contact-signup > label {
    width: 200px;
    color: #fff;
}

input-text-wrap ul {
    float: left;
}

nav.mainMenu {
    margin-bottom: 2px;
    overflow: hidden;
}

.constant-contact-signup {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 800px;
    margin-top:23px;
    left: 565px;
    top:22px;
    height:0px;
    -webkit-transition: height .5s ease-in-out;
-moz-transition: height .5s ease-in-out;
-ms-transition: height .5s ease-in-out;
-o-transition: height .5s ease-in-out;
transition: height .5s ease-in-out;

}

li.constant-contact-signup p {
    color:#fff;
    position: relative;
    right: 20px;
}

.constant-contact-signup.active {
    height:220px;
    -webkit-transition: height .5s ease-in-out;
-moz-transition: height .5s ease-in-out;
-ms-transition: height .5s ease-in-out;
-o-transition: height .5s ease-in-out;
transition: height .5s ease-in-out;

}

.constant-contact-signup.activesuccess {
    height:50px;
}

#constant-contact-signup-errors {
    left: -255px;
    position: absolute;
    top: 0px;
}

#constant-contact-signup .input-text-wrap li {
    border: 0;
    color: #B5B5B5;
}

#constant-contact-signup .input-text-wrap li label{
    color: #B5B5B5;
        -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#constant-contact-signup .input-text-wrap li label:hover{
    color: #D14E1D;
    -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.constant-contact-signup .button.submit {
    margin-top: 10px;
}

.constant-contact-signup .input-text-wrap > input {
    width: 200px;
}

.constant-contact-signup .input-text-wrap ul {
    bottom: 50px;
    position: absolute;
    left: -260px;
}

#constant-contact-signup .input-text-wrap li {
clear: both;
}

.wikiContent {
    display: none;
}

#hotels-select, #hotel-site, #check-site {
    display: none;
}

#picker {
    font-size: 16px;
    text-align: center;
    color:#5D5D5D;
    background-color: #1c1c1c;
    margin-bottom: 25px;
}

.picker_button {
    font-size: 18px;
}

.picker_property a, .picker_back {
    background-color: #303030;
}

.picker_property a,.picker_property a:visited {
    color:#5D5D5D;
}

.picker_button, .picker_name, .picker_property a, .picker_property div {
padding: 10px;
display: block;
-webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}


.picker_name:hover, .picker_property a:hover, .picker_property div:hover {
color:#D14E1D
}
.picker_name.active:hover {
color:#5D5D5D !important;
}

#foot container {
line-height: 14px;
}

.container .four.columns {
    padding-bottom: 100px;
}

.footer {
background-color: #262626;
}

.g_arrow {
background-image: url("images/arrow.png");
    background-position: center bottom;
    display: inline-block;
    height: 13px;
    width: 13px;
    z-index: 999;
}

.g_arrow.active {
background-position: center top; 
}

nav.mainMenu ul li ul li a {
    width:220px!important;
}

#home-section .container > .eight.columns, #hotels-section .container .scrollable > .eight.columns, #hotels-section .container .tableCell > .eight.columns, #about-us-section .container .scrollable > .eight.columns, #about-us-section .container > .eight.columns {
    padding-top:30px !important;
    background:rgba(255, 255, 255, 0.8);
    padding-left:15px;
    padding-right:15px;
}

#home-section .container > .eight.columns, #hotels-section .container .tableCell > .eight.columns, #about-us-section .container > .eight.columns {
    height:100%;
}

#home-section .scrollable > .eight.columns, #hotels-section .container .scrollable > .eight.columns {
    height:auto;
}

/* first hotel */

#hotels-section .container .horzsContainer > li:nth-child(1) {
background-image: url(images/Capri-WEB-6.jpg);
background-size: cover;
}

/* second hotel */

#hotels-section .container .horzsContainer > li:nth-child(2) {
background-image: url(../../uploads/2013/09/DSC_0370.jpg);
background-size: cover;
}
/* third hotel */

#hotels-section .container .horzsContainer > li:nth-child(3) {
background-image: url(../../uploads/2013/09/NovatoQI-21.jpg);
background-size: cover;
}
/* fourth hotel */

#hotels-section .container .horzsContainer > li:nth-child(4) {
background-image: url(../../uploads/2013/09/CA996_QQ1.jpg);
background-size: cover;
}
/* fifth hotel */

#hotels-section .container .horzsContainer > li:nth-child(5) {
background-image: url(../../uploads/2013/09/mg-0109-edited-1-pe-copy.jpg.1024x0.jpg);
background-size: cover;
}

/* about us */

#about-us-section {
background-image: url(../../uploads/2014/04/aboutus.jpg);
background-size: cover;
}

/* home */

#home-section {
background-image: url(../../uploads/2014/04/home.jpg);
background-size: cover;
}

#home-section .container .eight.columns h2, #hotels-section .container .eight.columns h2, #about-us-section .container .eight.columns h2 {
    background:none;
    text-align: center;
}

#home-section .container .heading, #hotels-section .container .heading, #about-us-section .container .heading {
    background: none;
    text-align: center;
}

.center {
    text-align: center;
}

.contact-info {
    font-size: 14px;
    font-weight: bold;
}


/* Remove check availability */

#hotels-section .container .tableCell .eight.columns .color-btn.black:nth-child(3) {
    display: none;
}

#twine-embed-iframe, .twine-embed-iframe {
    height:2000px !important;
}

@media only screen and (min-width: 767px) {

section .tableCell {
vertical-align: top;
padding: 30px 60px 60px 30px;
}


#contact {
padding-bottom: 0px !important;
}

.container {
    height: 100%;
}

.bx-wrapper .bx-viewport {
    left: 0 !important;
    position:absolute !important;
}

}


  @media only screen and (max-width: 767px) {


html, body {
overflow: inherit !important;
height: inherit !important;
}

.page-sections-11 > .container, .page-sections-12 > .container, .page-sections-121 > .container {
    padding: 30px 15px 0 !important;
}

.bxslider-1 > li, .bxslider-2 > li {
    margin-right: 0;
    padding: 30px 15px 0;
}

#hotels, #cities, #news, #contact {
    padding-top: 5px !important;
}

.bx-wrapper {
    margin: 0 auto 0px !important;
}

    #bx-pager-1 a, #bx-pager-2 a {
    height: 23px;
    width: 23px;
    margin: 4px 0 0 10px !important;
    }

    #bx-pager-1 a span, #bx-pager-2 a span {
        top: 10px;
        font-size: 12px;
    }

.fb-like-box {
    padding-right: 1% !important;
    padding-top: 20px;
    width: 99% !important;
    float: left !important;
   height: 500px !important;
}

.fb_iframe_widget {
    display: block !important;
    position: inherit !important;
}

#bx-pager-1, #bx-pager-2 {
bottom: -20px !important;
}

    #hotels .container, #cities .container {
    min-height: 1000px !important;
}

.page-section .container {
    padding-top: 0px !important;
}

#home .container, #contact .container,#news .container  {
     padding-top: 0px !important;
}

.topBar.normal-menu {display:none;}

.rightpadding.sidebar{
    display:none;
}


.two-thirds.column.posts {
    width:100% !important;
}


    #home {
    top:0px !important;
    }


    #up {
    height:0!important;
    }

        #sidebar {
            display: none !important;
        }          
        #top .container .hide-text {
            display: block;
        }
        .page-section, #blog, #top {
        margin-left: 0;
        width: 100%;
        }
    }

@media only screen and (max-width: 570px) {
#contact .container .eight.columns {
    width: 100% !important;
    margin-left: 0 !important;
}
    .container .column, .container .columns {
        margin-left: 0px !important; 
        margin-right: 0px !important; 
    }
#bgmp_map-canvas {
margin-bottom: 100px !important;
}

}