#wgmpmap div {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}

.wpgmp_loading{

height:32px;
width:32px;
background-image:url('../images/loading.png');

}

.map_table label

{

 float:left;

 width:220px;

 font-size: 13px; 

 font-weight:bold;

}



.map_table fieldset

{

 border: 1px solid #ddd;

 border-radius: 10px;

 padding:10px;

 margin-bottom:15px;
 
 font-family:"Helvetica Neue";

}



.map_table fieldset legend {
font-size: 16px;
color: #ccc;
}



.map_table .create_map

{

 width:250px;

 padding: 6px 10px;

 border: 2px #cccccc solid;

 border-radius: 10px;	

}

.map_table .style_map

{

 width:100px;

 padding: 6px 10px;

 border: 2px #cccccc solid;

 border-radius: 10px;	

}


.map_table .style_table label
{
	width:175px;
}

.map_table .description

{

 margin-left:220px;

 padding:3px 0px 8px 0px;

 font-size:12px;	

}



.map_table select

{

 border: 1px #cccccc solid;

 border-radius: 5px;

 font-size: 12px;

 width: 250px;

}

.map_table .style_select_map {
border: 2px #cccccc solid;
border-radius: 10px;
font-size: 12px;
width: 90px;
padding: 4px 8px;
height: 30px;
}

.map_table option

{

 height: 15px;

 padding: 5px 4px;

}



.map_table ul

{

 padding:0px;

 margin:0px;

 float:left;

}



.map_table li

{


 list-style:none;



}

#select_icons .active img{
	border:3px solid #000000;
	width:26px;
}

#groupmap{
	background:url(../images/map-bottom.png);
	text-align:center;
}

.ulnl_infobox{
    font-size: 15px;
}

#import_form input[type='file'] {
    background: none repeat scroll 0 0 #333333;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: "Marmellata",sans-serif;
    font-size: 15px;
    padding: 2px 10px 2px 8px;
	width:190px;
}

.choose_marker {font-size:12px; height:22px !important;}
.save-marker{margin-bottom:20px;}

div.updated, div.error
{
margin:5px 15px 25px;
}

div.col-md-12 ul{
	float:left; 
	width:100%;
}

div.col-md-12 ul li{
	float:left; 
	width:300px; 
	margin-bottom:15px;
}